<%- include header.ejs %>
<div class="splash-page">
  <div class="logo">
    <img src="/img/dogecache-logo.png" />
  </div>
  <h1>
    Welcome to Dogecache.
  </h1>

  <div class="description">
    Explore the world and find dogecoins. Weep or Win.
  </div>

  <div class="header-icon" style="color:#e74c3c"> <i class="fa fa-map-marker"></i></div>
  <div class="description">
    Dogecache is inspired by the worldwide game Geocache, a worldwide scavenger hunt.
  </div>

  <div class="header-icon" style="color:#95a5a6"> <i class="fa fa-user"></i></div>
  <div class="description">
    Like in Geocache, you hunt for something in Dogecache. You're hunting for dogecoin.
  </div>

  <div class="header-icon" style="color:#3498db"> <i class="fa fa-globe"></i></div>
  <div class="description">
    But it isn't just you. It's you versus everyone else.
  </div>

  <div class="header-icon" style="color:#f1c40f">Ð</div>
  <div class="description">
    Look for dogecoin dispersed throughout the world. You'll be bound to find some.
  </div>

  <div class="header-icon" style="color:#c0392b"><i class="fa fa-frown-o"></i></div>
  <div class="description">
    Yes, you do have to drop some dogecoin in order to scavenge for some around your area.
  </div>

  <div class="header-icon" style="color:#2ecc71"><i class="fa fa-smile-o"></i></div>
  <div class="description">
    But if you do find some, it's yours!
  </div>

  <div class="header-icon" style=<% if (isLoggedIn) { %>
      <%= "color:#d35400" %>
    <% } else { %>
      <%= "color:#3b5998" %>
    <% } %>
  ><i class="fa fa-chevron-down"></i></div>
  <div class="description">
    What're you waiting for? Play now!
  </div>

  <div class="home-button-wrapper">
    <% if (isLoggedIn) { %>
      <button type="button" class="map-button" onclick="window.location.href='/map'">
      Go to Map
      </button>
    <% } else { %>
      <button type="button" class="fb-login-button" onclick="window.location.href='/auth/login'">
        <i class="fa fa-facebook"></i>
      Sign in with Facebook
      </button>
    <% } %>
  </div>
</div>
<%- include footer.ejs %>