<%- include header.ejs %>
<div class="splash-page">
  <div class="logo">
    <img src="http://foundation.dogecoin.com/img/300coin.png" />
  </div>
  <h1>
    Dogecache(to be combined with img logo later)
  </h1>

  <div class="description">
  Dogecache allows users to search for caches of dogecoin associated with geolocations. This description needs to be better.
  </div>

  <button type="button" class="fb-login-button" onclick="window.location.href='/auth/login'">
  Sign in with Facebook
  </button>
</div>
<%- include footer.ejs %>