<%- include header.ejs %>
<div class="splash-page">
  <div class="logo">
    <img src="http://foundation.dogecoin.com/img/300coin.png" />
  </div>
  <h1>
    Welcome to Dogecache.
  </h1>

  <div class="description">
  Explore the world and find dogecoins. Dogecache is an innovative twist on geocaching. Dogecoins are dispersed by users tr
  Dogecache is inspired by the worldwide game Geocache. Dogecoin are dispersed throughout everywhere in the world. A user can donkeys. Dogecache is inspired by the worldwide game Geocache. Dogecoin are dispersed throughout everywhere in the world. A user can donkeys. Dogecache is inspired by the worldwide game Geocache. Dogecoin are dispersed throughout everywhere in the world. A user can donkeys. Dogecache is inspired by the worldwide game Geocache. Dogecoin are dispersed throughout everywhere in the world. A user can donkeys.
  </div>

  <button type="button" class="fb-login-button" onclick="window.location.href='/auth/login'">
      <i class="fb-login-button-icon"></i>
  Sign in with Facebook
  </button>
</div>
<%- include footer.ejs %>