<%- include header.ejs %>
<div class="splash-page">
  <div class="logo">
    <img src="http://foundation.dogecoin.com/img/300coin.png" />
  </div>
  <h1>
    Dogecache(to be combined with img logo later)
  </h1>

  <div class="description">
  Dogecache allows users to search for caches of dogecoin associated with geolocations. This description needs to be better.
  </div>

  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" style="width:90%; left: 5%; position: relative; padding: 20px; background-color: #3B5998; color: white">FB LOGIN BUTTON HERE</div>
</div>
<%- include footer.ejs %>