<%- include header.ejs %>

<div class="navbar">
  <img id="profile-pic" src="../hthsyrs.png" />
</div>
<div id="map"></div>
<div class="actions">
  <div id="wager"></div>
  <div class="search-area">
    <div id="search-slider"></div>
  </div>
</div>

<%- include footer.ejs %>