<div class="navbar">
  <div id="profile-pic">
    <img src= <%= "https://graph.facebook.com/" + user.fbId + "/picture?width=90&height=90" %> />
  </div>
  <div class="user-info">
    <div id="name"><%= user.displayName %></div>
    <br/>
    <div id="balance"><%= "6,403 Doge" %></div>
  </div>
</div>