<div class="navbar">
  <div id="profile-pic">
    <img src="/img/profile-pic-default.png" />
  </div>
  <div class="user-info">
    <div id="name">Andrew Millman</div>
    <br/>
    <div id="balance">6,403 Doge</div>
  </div>
</div>