<%- include header.ejs %>
<%- include pub_navbar.ejs %>
<div class="page-wrapper">
    <div class="page-container" id="press-page">
        <div class="card">
            <h1>Press Releases</h1>
            <div class="content">

                    <p><a href="/press/releases/Dogecache_PR_20140421.pdf" target="_blank">April 22, 2014 - First High School Students at TechDay NYC to Exhibit Dogecoin-Powered App, Dogecache</a></p>
                <p><u>Press Kit:</u><br/>
                    Official Dogecache Logos:  <a href="/press/dogecache-logo-official.svg" target="_blank">.svg</a>  <a href="/press/dogecache-logo-official.png" target="_blank">.png</a> <br/>
                    Official Dogecache Screenshots: <a href="/press/dogecache-screenshot1.png" target="_blank">Home</a> <a href="/press/dogecache-screenshot2.png" target="_blank">Map</a><br/>
                </p>
            </div>
        </div>
        <div class="card">
            <h1>Awards</h1>

            <div class="content">
                <p><a href="http://hackbca.com/prizes.html" target="_blank">2014 hackBCA Most Polished App</a></p>

                <p><a href="http://hackbca.com/prizes.html" target="_blank">2014 hackBCA Intel Corporation Award for Quality Mobile
                        Design</a></p>

                <p><a href="https://nytechday.com/startups/dogecache" target="_blank">2014 TechDay NYC Exhibitor</a></p>
            </div>
        </div>
        <div class="card">
            <h1>Press</h1>

            <div class="content">
                <p>
                    <a href="http://www.reddit.com/r/dogecoin/comments/2282ln/hi_shibes_we_are_high_schoolers_who_have_been/" target="_blank">Reddit
                        Outreach Campaign</a></p>

                <p><a href="http://www.jessepodell.com/hackbca/" target="_blank">Blog post by Jesse Podell, the COO of TechDay</a></p>
            </div>
        </div>
        <div class="card">
            <h1>Links</h1>

            <div class="content">

                <p><a href="https://github.com/dogecache/dogecache" target="_blank">Dogecache Github Source Code Repository</a></p>
            </div>
        </div>

        <div class="card">
            <h1>Contact</h1>

            <div class="content">
                <p>Team Dogecache <br/>
                    <a href="tel:8053223643">(805) 322-3643</a><br/>
                    <a href="mailto:contact@dogecache.com">contact@dogecache.com</a><br/>
                    @Dogecache<br/>
                    /u/lightningslow
                </p>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>