<%- include header.ejs %>
<%- include pub_navbar.ejs %>
<div class="page-wrapper">
  <div class="page-container" id="press-page">
    <div class="card">
      <h1>Dogecache: Four High School Students Become the First to Exhibit Hackathon App at Startup Event NY Techday</h1>
      <div class="content">
        <div><i>Four Passionate High School Students Create a Mobile Web App, “Dogecache,” which Combines Geocaching and Dogecoin to Create a New Digital Scavenger Hunt</i></div>

        <p>Team Dogecache, comprised of High Technology High School seniors Austin Eng, Matthew Hsu, Zachary Liu, and Andrew Millman, is poised to be the first team comprised of high school students to exhibit at NY Techday, an event with over 400 startups and 10,000 attendees.</p>

        <p>They have come a long way since the March 22nd hackBCA high school hackathon at Bergen County Academies, NJ. Together they built an app designed to digitalize the recreational activity geocaching.  Called “Dogecache,” the mobile-first web app allows users to search for caches of the viral internet meme-based cryptocurrency, dogecoin, that other users have hidden. Players can drop a certain amount of dogecoin in their current position, which in turn allows them to search for dogecoin that others have dropped around them.</p>

        <p>The resulting product was judged the Most Polished app of the competition by a group of expert judges, including Reddit co-founder Alexis Ohanian and Vine co-founder Colin Kroll. In addition, the app was awarded a special award by Intel Corporation for quality mobile design.</p>

        <p>As a result of this recognition, the coordinators of NY Techday granted the team an opportunity to exhibit. With less than a month to prepare for the Techday event, the team scrambled to switch gears from computer presentation to professional exhibit.</p>

        <p>The team turned to the dogecoin reddit community for support. The dogecoin community is known for its generosity after sending the Jamaican bobsled team to Sochi and more recently, sponsoring Josh Wise in the Talladega Nascar race.</p>

        <p>Dogecache was enthusiastically embraced by the community, quickly raising over $100 in donations. One reddit user, /u/SGBE, donated $55 in a single comment; other users offered to print promotional material and suggest improvements to the app.</p>

        <p>Having spent the last four years of their high school career pursuing a STEM curriculum, the four members of Team Dogecache are overjoyed to have the chance to apply these skills in creating an app that will be presented to thousands of fellow tech-enthusiasts. When NY Techday rolls around, you won't be able to miss these four excited high schoolers roaming the exhibits and chatting up all the seasoned entrepreneurs to make the most of this experience.</p>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>