<%- include header.ejs %>
<%- include pub_navbar.ejs %>
<div class="page-wrapper">
  <div class="page-container" id="press-page">
    <div class="card">
      <div class="content">
        <p><u>Note to Editors:</u><br />
        An official press kit for Dogecache is available at <a href="http://www.dogecache.com/presskit">http://www.dogecache.com/presskit</a></p>
      </div>
    </div>
    <div class="card">
      <h1>Links</h1>
      <div class="content">
        <p>Official App URL: <a href="http://www.dogecache.com">http://www.dogecache.com</a></p>

        <p>Techday Profile: <a href="https://nytechday.com/startups/dogecache">https://nytechday.com/startups/dogecache</a></p>

        <p>Crowdfunding Reddit Post: <a href="http://www.reddit.com/r/dogecoin/comments/2282ln/hi_shibes_we_are_high_schoolers_who_have_been/">http://www.reddit.com/r/dogecoin/comments/2282ln/hi_shibes_we_are_high_schoolers_who_have_been/</a></p>

        <p>Blog post by Jesse Podell, the COO of TechDay: <a href="http://www.jessepodell.com/hackbca/">http://www.jessepodell.com/hackbca/</a></p>
      </div>
    </div>

    <div class="card">
      <h1>Contact</h1>
      <div class="content">
        <p>Team Dogecache</p>
        <p><a href="tel:8053223643">(805) 322-3643</a></p>
        <p><a href="mailto:contact@dogecache.com">contact@dogecache.com</a></p>
        <p>@Dogecache</p>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>