<div class="navbar">
  <table id="menu-panel">
    <tbody>
      <tr>
        <td>
          <a class="item-icon" href="about">
            <div class="item-content">
              <i class="fa fa-question-circle" ></i><br/>
              <div class="item-text">About</div>
            </div>
          </a>
        </td>
        <td>
          <a class="item-icon" href="press">
            <div class="item-content">
              <i class="fa fa-camera" ></i><br/>
              <div class="item-text">Press</div>
            </div>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a class="item-icon" href="/">
            <div class="item-content">
              <i class="fa fa-home" ></i><br/>
              <div class="item-text">Home</div>
            </div>
          </a>
        </td>
        <td>
          <a class="item-icon" href="https://github.com/Dogecache/Dogecache">
            <div class="item-content">
              <i class="fa fa-github" ></i><br/>
              <div class="item-text">Github</div>
            </div>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a id="back-button" href="map" style=<%= isMap ? "display:none" : "" %> >
    <i class="fa fa-angle-left"></i>
  </a>
  <a id="profile-pic" href="map">
    <% try { %>
    <img src= <%= user.profilePhoto %> />
    <% } catch(e) { } %>
  </a>
  <div class="user-info">
    <% try { %>
    <div id="name"><%= user.displayName %></div>
    <br/>
    <div id="balance"><span id="balance_num"><%= user.balance %></span> Ð</div>
     <% } catch(e) { } %>
  </div>
  <div class="nav-buttons">
    <!--<a href="stats"><i class="fa fa-info-circle"></i></a>
    <a href="settings"><i class="fa fa-gear"></i></a>-->
    <a><i class="fa fa-bars" id="menu-btn"></i></a>
  </div>
</div>