<%- include header.ejs %>
<%- include navbar.ejs %>
<div class="page-wrapper">
  <div class="page-container">
    <div class="card">
      <h1>Deposit</h1>
      <div class="content">
        <div class="qr-code">
          <img src="http://www.bwscan.com/wp-content/uploads/2013/12/1.jpg" />
        </div><div class="doge-address">
          D5ReuTL4BrwNvSLYVnWA1DczBNk9LdaqCu
        </div>
      </div>
    </div>
    <div class="card">
      <h1>Withdraw</h1>
      <div class="content">
        <form>
          <input type="text" name="send_address" placeholder="Send Address..." />
          <input type="text" name="amount" placeholder="Amount..." />
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>