<!DOCTYPE html>
<%- include header.ejs %>
<div class="navbar">
</div>
<div class="page-wrapper">
  <div class="page-container">
    <div class="card">
      <h1>History</h1>
      <div class="content">
        <ul>
          <li>asdfasdfsadf</li>
          <li>asdfasdfsadf</li>
          <li>asdfasdfsadf</li>
          <li>asdfasdfsadf</li>
          <li>asdfasdfsadf</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h1>Statistics</h1>
      <div class="content">
        <ul>
          <li>Gain: <span class="plus">3345345234</span></li>
          <li>Lost: <span class="minus">348570923</span></li>
          <li>Total Searches: 234</li>
          <li>Avg. Per Search: <span class="plus">3452</span></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h1>Deposit</h1>
      <div class="content">
        <div class="qr-code">
          <img src="http://www.bwscan.com/wp-content/uploads/2013/12/1.jpg" />
        </div><div class="doge-address">
          D5ReuTL4BrwNvSLYVnWA1DczBNk9LdaqCu
        </div>
      </div>
    </div>
    <div class="card">
      <h1>Withdraw</h1>
      <div class="content">
        <form>
          <input type="text" name="send_address" placeholder="Send Address..." />
          <input type="text" name="amount" placeholder="Amount..." />
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>