@bg: #eeeeee;
@mainBg: lighten(@bg, 5%);

.radial-gradient(@centerX: center, @centerY: center, @shape: circle, @size: contain, @startColor: #555, @startPos: 0, @endColor: #333, @endPos: 100%) {
//  background-color:@endColor;
  background-image: -moz-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
  background-image: -webkit-gradient(radial, @centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
  background-image: -webkit-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
  background-image: -o-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
  background-image: -ms-radial-gradient(@centerX @centerY, @shape @size, @startColor @startPos, @endColor @endPos);
  background-image: radial-gradient(@shape at @centerX @centerY, @startColor @startPos, @endColor @endPos);
}

.gradientReverse {
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

@navHeight: 45px;
@navItemColor: #333;
@menuBg: #ccc;
@menuItemBg: lighten(@menuBg, 15%);

@btnMainColor: #d35400;
@textColor: white;
@mainColor: #f39c12;

@actionHeight: 60px;

.transition {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}


* {
  box-sizing: border-box!important;
  text-shadow: none!important;
}

html {
  height: 100%;
}

.ui-page, .ui-body-c, .ui-page-active, .ui-overlay-c, .ui-mobile-viewport
{
    background: transparent !important;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: @bg;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  font-family: "Lato"!important;
}

.ui-overlay-a {
  background-color: @bg!important;
}

.navbar {
  height: @navHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  * {
    display:inline-block;
  }

  table#menu-panel {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    position: fixed;
    top: 65px;
    bottom: 0px;
    right: -350px;
    overflow: show;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
    transition: all 0.5s ease;
    background: @menuBg;
    opacity: 0;

    &:before {
      position: absolute;
      top: -10px;
      right:15px;
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid @menuBg;
      content:"";
    }

    &.open {
      right: 0px;
      opacity: 1;
    }

    tbody {
      width: 100%;
      height: 100%;
      padding:6px;

      tr {
        width:100%;
        height: 50%;
        overflow:hidden;

        td {
          width: 50%;
          height: 100%;
          border:4px solid transparent;
          margin:-1px;
          text-align: center;

          & * {
            color: @navItemColor;
          }

          a.item-icon {
            width: 100%;
            height: 100%;
            line-height: 0px;
            font-size: 60px;
            display:table;
            background: @menuItemBg;

            div.item-content {
              display:table-cell;
              vertical-align: middle;

              .item-text {
                line-height:20px;
                font-size: 17px;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }

//background: -moz-linear-gradient(-45deg,  rgba(238,238,238,1) 0%, rgba(238,238,238,0.71) 51%, rgba(238,238,238,0) 100%); /* FF3.6+ */
//background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(51%,rgba(238,238,238,0.71)), color-stop(100%,rgba(238,238,238,0))); /* Chrome,Safari4+ */
//background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,0.71) 51%,rgba(238,238,238,0) 100%); /* Chrome10+,Safari5.1+ */
//background: -o-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,0.71) 51%,rgba(238,238,238,0) 100%); /* Opera 11.10+ */
//background: -ms-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,0.71) 51%,rgba(238,238,238,0) 100%); /* IE10+ */
//background: linear-gradient(135deg,  rgba(238,238,238,1) 0%,rgba(238,238,238,0.71) 51%,rgba(238,238,238,0) 100%); /* W3C */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  #back-button {
    height: 100%;
    width: 10px;
    position: relative;
    top: -20px;
    left: 0;
    line-height: 45px;
    padding-left: 10px;
    font-size: 35px;
    color: @navItemColor;
    transform:scale(0.5,1); /* W3C */
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */

  }

  #profile-pic {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 11;

    img {
      height: 100%;
      width: 100%;
      background: white;
      border-radius: 30px;
      border: 2px solid white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
  }

  .user-info {
    position: absolute;
    top: 13px;
    left: 90px;

    * {
      color: @navItemColor;
      font-size: 15px;
      line-height:20px;
      text-shadow: 0 0 20px #fff,
        0 0 20px #fff,
        0 0 20px #fff,
        0 0 20px #fff,
        0 0 20px #fff,
        0 0 20px #fff,
        0 0 20px #fff,
        0 0 20px #fff!important;
    }

  }

  .nav-buttons {
    position: absolute;
    top: 10px;
    right: 0;
    height: 100%;
    padding-right: 5px;

    a {
      line-height: @navHeight;
      color: @navItemColor;
      font-size: 30px;
      padding-left: 7px;
      padding-right: 7px;
      transition: all 0.2s ease;

      &:hover, &:active {
        cursor: pointer;
        color: black;
      }

      #menu-btn.open {
        transition: all 0.2s ease;
        color: #888888;
      }
    }
  }
}

#home-nav {
  .navbar {
    #back-button {
      display: none;
    }
    .user-info * {
      color: #ddd;
      text-shadow: 0 0 20px #333!important;
    }
    .nav-buttons {
      a {
        color: #ddd;
        #menu-btn.open {
          color: #eee;
        }
      }
    }
  }
}

#map {
  position: absolute;
  top:0;
  left:0;
  bottom: 2*(@actionHeight+10)+10;
  width: 100%;
  margin-bottom:0;
  overflow: hidden;

  .map_gmap {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    bottom: 2*@actionHeight;
    z-index: 2;
  }

  .map_circle {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    bottom: 2*@actionHeight;
    z-index: 3;
//    border: 3px solid #45ca3a;
    border-radius: 50%;

//    pointer-events: none;

    @-webkit-keyframes pulsate {
      0% {
        width:0px;
        height:0px;
        opacity:0;
      }
      15% { opacity:1; }
      40% {
        opacity:0.5;
      }
      70% {
        opacity: 0.1%;
      }
      100% {
        width: 100%;
        height: 100%;
        opacity:0;
      }
    }

    .map_circle_outer {
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      .radial-gradient(50%, 50%, circle, cover, fade(#45CA3A, 0%), 60%, #45CA3A, 100%);
      z-index: 11;
    }

    .map_circle_inner_wrap {
      -webkit-transition: opacity 0.75s;
    }

    .map_circle_inner {
      // TODO: non-Webkit prefixes
      border-radius:50%;
      position:absolute;
      height: 0px; width: 0px;
      opacity: 0;
      top: 50%; left:50%;
      z-index: 10;
//      border: 2px solid rgba(66, 152, 181, 1);
      -webkit-animation: pulsate 2s infinite;
//      background-color:#4298b5;
      border: 5px solid fade(darken(#45CA3A, 20%),10%);
      .radial-gradient(50%, 50%, circle, cover, fade(#45CA3A, 70%), 60%, #45CA3A, 80%);
      -webkit-transform:translateX(-50%) translateY(-50%);
    }

    @-webkit-keyframes rotating {
      from{
        -webkit-transform: rotate(0deg);
      }
      to{
        -webkit-transform: rotate(360deg);
      }
    }

    .map_circle_radar {
      background: url(../img/radar.png);
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 50%;
      left: 50%;
      margin-top: -50%;
      margin-left: -50%;
      -webkit-animation: rotating 2s linear infinite;
      -webkit-transition: opacity 0.75s;
    }
  }
}

.actions {

  position:fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  padding-top: 5px;
  background-color: @mainBg;

  .wager {
    width: 100%;
    height: @actionHeight;
    margin-bottom: 10px;


    .ui-slider {

      height: 100%;

      &:before {
        position: absolute;
        content: "WAGER";
        color: #555;
        height:100%;
        width: 57px;
        padding-top: 10px;
        text-align: center;
      }

      #wager-slider {
        height: 100%;
        padding-top: 20px;
        box-shadow: none;
        border: none;
        width: 55px;
        font-size: 17px;
        font-weight: normal;
        background-color: transparent;
      }

      .ui-slider-handle {
        width: 10px;
        margin: 0;
        height: 50px;
        top: -20px;
        border: none;
        background: #bbb;
        box-shadow: none;
        border-radius: 0;
      }

      .ui-slider-track {
        margin-left: 65px;
        top: 44%;
        height:20%;
        border: none;
        background: #ddd;
        box-shadow: none;
        border-radius: 0;
      }

      .ui-slider-bg {
        background: #3498db;
      }

    }
  }

  .search-area {
    @slideTextWidth: 500px;
    @slideTextColor: white;
    @slideTextColorFade: fade(@slideTextColor, 50%);

    position:relative;
    height: @actionHeight;
    width: 100%;
    //background: #e74c3c;
    background: @btnMainColor;
    color: @slideTextColor;
    font-size:25px;
    text-align: center;
    line-height: @actionHeight;
    //.transition;

    span {
      display: block;
      margin: 0 auto;
      background: -webkit-gradient(linear,left top,right top,color-stop(0, @slideTextColorFade),color-stop(0.4, @slideTextColorFade),color-stop(0.5, @slideTextColor),color-stop(0.6, @slideTextColorFade),color-stop(1, @slideTextColorFade));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: slidetosearch 5s infinite;

      @-webkit-keyframes slidetosearch {
        0% {
          background-position: -@slideTextWidth/2 0;
        }
        100%{
          background-position: @slideTextWidth/2 0;
        }
      }
    }

    #search-slider {

      position:absolute;
      top: 0;
      height: @actionHeight;
      width: @actionHeight;
      font-size: 25px;
      line-height:@actionHeight;
      text-align: center;
      color:white;
      z-index:100;

      &:active i, &:hover i {
        text-shadow: 0 0 20px #fff,
        0 0 40px #fff,
        0 0 40px #fff,
        0 0 40px #fff,
        0 0 40px #fff,
        0 0 40px #fff,
        0 0 40px #fff,
        0 0 40px #fff!important;
      }
    }

    #search-drop {

      position:absolute;
      top: 0;
      right:0;
      height: @actionHeight;
      width: 30%;
      z-index:10;
    }
  }
}

.page-wrapper {
  position: relative;
  top: @navHeight + 15px;
  bottom: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.ui-mobile .ui-page-active {
  overflow-x: visible;
}

@media(min-width: 768px) {
  .page-wrapper {
    width: 750px;
  }
}
@media(min-width: 992px) {
  .page-wrapper {
    width: 970px;
  }
}
@media(min-width: 1200px) {
  .page-wrapper {
    width: 1170px;
  }
}

.page-container {
  padding: 20px;
}

.card {
  background-color: @mainBg;
  width: 100%;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  -webkit-transform: translateY(500px) rotate(10deg);
  opacity: 0;
  -webkit-transition: all 1s;

  &.card-shown {
    -webkit-transform: translateY(0) rotate(0);
    opacity: 1;
  }

  + .card {
    margin-top: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 0px;
  }

  ul {
    list-style-type: none;
    padding: 0px;

    li {
      + li {
        padding-top: 5px;
      }
    }
  }
  .plus {
    color: green;
  }
  .minus {
    color: red;
  }
  .notransactions {
    padding-top: 20px;
    padding-left: 15px;
  }

  .qr-code {
    width:  50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;

    img {
      width: 100%;
    }
  }

  .doge-address {
    width:  50%;
    padding-left: 20px;
    display: inline-block;
    word-break:break-all;
    vertical-align: top;
    font-size: 24px;
    padding-top: 25px;
  }

  input {
    display: block;
    padding: 15px;
    border: none;
    width: 100%;
    + input {
      margin-top: 10px;
    }
    &:focus {
      outline: 1px solid lightgray;
    }
  }
  input[type="submit"] {
      background-color: @btnMainColor;
      color: @textColor;
    }

  .content {
    table {
      border-collapse:collapse;
      th {
        padding-left: 15px;
        padding-right: 15px;
        background-color: white;
      }
      td {
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        text-align: center;
        &:first-of-type {
          text-align: left;
        }
      }
      tr:nth-child(odd) {
        background-color: white;
      }
    }
  }
}

#about-page, #press-page {
  .card {
    .content {
      font-size: 16px;
      line-height: 1.4em;
    }
  }
}

.maintenance {

  text-align: center;
  color: @btnMainColor;

  .main-icon {
    font-size: 80px;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    color: #333;
    margin-bottom: 0px;
  }
}

@media(min-width: 1300px) {
  .splash-bg {
    background-size: 100% auto;
  }
}

@media(min-height: 864px) {
  .splash-bg {
    background-size: auto 100%;
  }
}

@media(min-width: 1300px) and (min-height: 864px) {
  .splash-bg {
    background-size: 100% 100%;
  }
}
.splash-bg {
  position: fixed;
  background-image: url("../img/blurred-city.jpg");
  background-attachment: fixed;
  left: 0px;
  width: 100%;
  top: 0px;
  bottom: 0px;
}
.splash-page {
  width: 100%;
  top: 0px;
  bottom: 0px;
  overflow-y: auto!important;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 120px;

  &:after {
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 340px;
    width: 100%;
    content: "";
    z-index: 10;
    .gradientReverse;
  }

  .logo {
    width: 100%;
    padding-top: 30px;
    max-width: 500px;
    margin: 0 auto;

    img {
      width: 50%;
      margin-left: 25%;
    }
  }

  h1 {
    color: @textColor;
    text-align: center;
    font-size: 35px;
  }

  .header-icon {
    line-height: 80px;
    font-size: 60px;
    padding-top:30px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
  }

  .description {
    font-size: 20px;
    text-align: center;
    color: @textColor;
    padding-bottom: 20px;
  }

  .home-button-wrapper {

  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
  padding: 10px;
  z-index: 100;

    .home-button {

      display: block;
      text-decoration: none;
      border: 0;
      position: relative;
      height: @actionHeight;
      width: 100%;
      padding: 0px;
      margin: 10px 0 0 0;
      color: white;
      text-align: center;
      font-size: 20px;
      line-height: 60px;
      border: none;
      border-radius: 0;
      box-shadow:none;
      font-family: "Lato";

      &:hover, &:active, &:focus {
        cursor: pointer;
        color: white;
        .transition;
      }
      .fa {
        position: absolute;
        font-size: 28px;
        left: 15px;
        top: 18px;
        &:before {
          display: block;
          width: 30px;
          text-align: center;
        }
      }
    }

    .map-button, .login-button {
      background-color: @btnMainColor;
      &:hover, &:active, &:focus {
        background: lighten(@btnMainColor, 10%);
      }
    }

    .facebook-login-button {
      background-color: #3B5998;
      &:hover, &:active, &:focus {
        background: lighten(#3B5998, 10%);
      }
    }

    .twitter-login-button {
      background-color: #30acbc;
      &:hover, &:active, &:focus {
        background: lighten(#30acbc, 10%);
      }
    }

    .google-login-button {
      background-color: #ad4238;
      &:hover, &:active, &:focus {
        background: lighten(#ad4238, 10%);
      }
    }
  }
}

#gpsApproval {
  color: white;
  background-color: #c0392b;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  font-size: 30px;
  text-align: center;
  display: table;
  opacity: 1;
  -webkit-transition: background 0.3s linear 0s, opacity 0.2s linear 1s;

  &.approved {
    background-color: #27ae60;
    opacity: 0;
  }

  .cell {
    display:table-cell;
    vertical-align:middle;
  }

}

.notification {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: table;
  opacity: 0;

  .wrapper {
    display: table-cell;
    vertical-align: middle;
    .pane {
      width: 84%;
      left: 8%;
      position: relative;
      background-color: @mainBg;
      padding: 20px;

      h1 {
        margin-top: 0px;
      }
      .close-btn {
        font-family: fontawesome;
        position: absolute;
        right: 7px;
        top: 5px;
        font-size: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .home-button-wrapper {

  width: 100%;
  padding: 10px;

    .home-button {

      display: block;
      text-decoration: none;
      border: 0;
      position: relative;
      height: @actionHeight;
      width: 100%;
      padding: 0px;
      margin: 10px 0 0 0;
      color: white;
      text-align: center;
      font-size: 20px;
      line-height: 60px;
      border: none;
      border-radius: 0;
      box-shadow:none;
      font-family: "Lato";

      &:hover, &:active, &:focus {
        cursor: pointer;
        color: white;
        .transition;
      }
      .fa {
        position: absolute;
        font-size: 28px;
        left: 15px;
        top: 18px;
        &:before {
          display: block;
          width: 30px;
          text-align: center;
        }
      }
    }

    .map-button, .login-button {
      background-color: @btnMainColor;
      &:hover, &:active, &:focus {
        background: lighten(@btnMainColor, 10%);
      }
    }

    .facebook-login-button {
      background-color: #3B5998;
      &:hover, &:active, &:focus {
        background: lighten(#3B5998, 10%);
      }
    }

    .twitter-login-button {
      background-color: #55acee;
      &:hover, &:active, &:focus {
        background: lighten(#55acee, 10%);
      }
    }

    .google-login-button {
      background-color: #D34836;
      &:hover, &:active, &:focus {
        background: lighten(#D34836, 10%);
      }
    }
  }
}
