@bg: #dddddd;
@mainBg: lighten(@bg, 10%);
@navHeight: 45px;

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: @bg;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: @navHeight;
  background-color: @mainBg;
  z-index: 10;
}

.page-wrapper {
  position: absolute;
  top: @navHeight;
  bottom: 0px;
  width: 100%;
}

.page-container {
  padding: 20px;
}

.card {
  background-color: @mainBg;
  width: 100%;
  padding: 20px;

  + .card {
    margin-top: 20px;
  }
}
