@bg: #dddddd;
@mainBg: lighten(@bg, 10%);

.navBg {
  background: -webkit-linear-gradient(@bg, rgba(0,0,0,0));
  background: -o-linear-gradient(@bg, rgba(0,0,0,0));
  background: -moz-linear-gradient(@bg, rgba(0,0,0,0));
  background: linear-gradient(@bg, rgba(0,0,0,0));
}
@navHeight: 45px;
@textColor: white;

@actionHeight: 50px;

.transition {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: @bg;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  height: @navHeight;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .navBg;

  * {
    display:inline-block;
  }


  #profile-pic {
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-top: 10px;

    img {
      height: 100%;
      width: 100%;
      background: white;
      border-radius: 30px;
      border: 2px solid white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    }
  }

  .user-info {
    position: absolute;
    top: 7px;
    left: 70px;

    * {
      font-size: 12px;
      line-height:15px;
    }

  }
}

#map {
  position: fixed;
  top:0;
  left:0;
  bottom: 2*@actionHeight;
  width: 100%;
  background: #cccccc;
  margin-bottom:0;
}

.actions {

  position:fixed;
  bottom: 0px;
  width: 100%;

  .wager {
    width: 100%;
    height: @actionHeight;
    background: white;
  }

  .search-area {

    position:relative;
    height: @actionHeight;
    width: 100%;
    background: #e74c3c;
    color: white;
    font-size:25px;
    text-align: center;
    line-height: @actionHeight;
    .transition;

    #search-slider {

      position:absolute;
      top: 0;
      height: @actionHeight;
      width: 50px;
      font-size: 25px;
      line-height:@actionHeight;
      text-align: center;
      color:white;
      z-index:100;
    }

    #search-drop {

      position:absolute;
      top: 0;
      right:0;
      height: @actionHeight;
      width: 30%;
      z-index:10;
    }
  }
}

.page-wrapper {
  position: absolute;
  top: @navHeight;
  bottom: 0px;
  width: 100%;
}

.page-container {
  padding: 20px;
}

.card {
  background-color: @mainBg;
  width: 100%;
  padding: 20px;

  + .card {
    margin-top: 20px;
  }
}
